
/* COLOR LIST 
#6C8DC6 light blue
#436EB9 dark blue
#364138 dark green
#576541 lighter green
#87A076 light green
#7D433D Dark brown/ red
#9C7B59 light brown
#8B6240 lighter brown
*/

.full-container {
  min-height: 100vh; 
  padding-top: 1px;
  padding-bottom: 1px;
  transition: background 0.5s ease; 
  background: var(--light-bg); 
  font-family: 'Courier New', Courier, monospace;

}

:root {
  --light-bg: #cfd1d2; 
  --light-text: #2a3b58;
  --light-accent: #7697a0; 
  --dark-bg: #000000; 
  --dark-text: #f5f5f5;
  --dark-accent: #415f65; 

  --blue: #bee4ea; 
  --dark-green: #363f41; 

  --dark-start-bg: #363f41; 
  --dark-end-bg: #000000; 

  --light-start-bg: #ffffff; 
  --light-end-bg: #e0f7fa;

  --light-mode-apostrophe: #ff6347; /* Tomato color for light mode */
  --dark-mode-apostrophe: #ff4500; /* OrangeRed color for dark mode */
}

.light-mode {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.light-mode .header {
  background-color: var(--light-accent);
}

.light-mode .footer {
  /* background-color: var(--light-bg); */
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 50px;
  border-radius: 10px;
}

.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.dark-mode .header, .dark-mode  {
  background-color: var(--dark-accent);
}

.dark-mode .footer {
  background-color: white;
  opacity: .7;
}

.light-mode .apostrophe {
  color: var(--dark-accent);
}

.dark-mode .apostrophe {
  color: var(--light-accent);
}

.container {
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
}

.header {
  margin-top: 20px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  color: var(--header-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible; /* Ensure parent elements allow overflow */
  position: relative;
}

.logo-container {
  position: relative;
  display: inline-block;
}

.header-logo { /*GHIBLI LOGO*/
  height: 24px; /* Adjust height as needed */
  width: auto;
  position: relative; /* Ensure relative positioning for tooltip */
  cursor: pointer; /* Ensure cursor changes to pointer */
}

.text-bubble {
  position: absolute;
  bottom: -120%; /* Adjust to position the bubble above the logo */
  transform: translateX(-10%);
  background-color: #333; /* Background color of the bubble */
  color: #fff; /* Text color */
  padding: 8px 12px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-size: 14px; /* Adjust as needed */
}

.logo-container:hover .text-bubble {
  opacity: 1;
  visibility: visible;
}


.header-text { /*BROOKE TEXT*/
  padding-top: 10px;
  margin-right: 10px; /* Space between text and image */
  font-size: 1.5rem; /* Adjust font size as needed */
}

.header-content { /*STUFF INSIDE HEADER*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.BrookesWorld { /*TITLE*/
  font-size: 8vw; /* 10% of the viewport width */
}

.FirstText { /*INTRO TEXt*/ 
  margin: 200px 50px 300px 50px;
  text-align: center;
}

.header button { /*MOON*/ 
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  background-color: var(--button-bg-light); 
  color: var(--button-text-light); 
  align-items: center;
  display: flex;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  height: 30px; 
}


.footer { /*Footer style*/
  margin: 50px;
  border-radius: 10px;
  padding: 20px;
  background-color: #e0f5ff; /* Adjust based on your theme */
}

.footer-content { /*Footer content*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main-content {
  flex: 1; /* Allows this section to take up available space */
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between social links */
}

.contact-info, .copyright {
  margin-top: 10px;
}

.footer-websites {
  flex-shrink: 0; /* Prevents this section from shrinking */
  font-size: 14px;
}

.footer-websites ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-websites li {
  margin: 5px 0;
}

.footer-websites a {
  text-decoration: none;
}

.footer-websites a:hover {
  text-decoration: underline;
  text-decoration-color: #2a3b58;
}

.social-link {
  margin: 5px;
  color: inherit;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
}

.dateCreated {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.calendar-tooltip {
  position: absolute;
  top: 120%; /* Adjust based on your layout */
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.react-calendar {
  width: 200px; /* Adjust size as needed */
  border: none;
}

.gallery-container {
  width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
  border-radius: 10px;
}

.gallery {
  position: relative; 
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin-bottom: 300px;
  padding: 20px;
}

.gallery-item {
  width: 300px; /* Fixed width for each item */
  height: 400px; /* Fixed height for each item */
  position: relative;
  overflow: hidden; 
  flex: 1 1 calc(33% - 16px);
  box-sizing: border-box;
  max-width: 300px; 
  transition: transform 0.6s ease; 
}

.gallery-image-container {
  position: relative;
  width: 100%;
  height: 200px; 
  overflow: hidden; 
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
  transition: transform 0.6s ease, opacity 0.3s ease; 
}

.gallery-item:hover .gallery-image {
  transform: rotateY(180deg); 
  opacity: 0; 
}

.gallery-summary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(87, 87, 87, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
}

.gallery-item:hover .gallery-summary {
  opacity: 1; 
}

.gallery-caption {
  text-align: center;
  margin-top: 8px;
  color: white; 
}

.carousel-item img {
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.carousel-container {
  position: relative;
  width: 100%;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: visible; /* Ensure the container allows overflow */
}

.carousel-item-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible; /* Allow content to overflow */
  padding: 20px; /* Add padding to avoid content cut-off */
  border-radius: 10px;
}

.carousel-item-custom img {
  width: 50%;
  height: auto; 
  object-fit: contain; 
}


.titles { /*SIDE PROJECTS TEXT*/
  z-index: 2;
  text-align: center;
  margin-top: 300px;
  padding: 30px;
}

.titles-app { /*MOBILE APP DEV TEXT*/
  margin-bottom: 50px;
  text-align: center;
}

.image-wrapper {
  position: relative;
  overflow: hidden; /* Hide overflow for the magnified part */
}

.iphone-image {
  border-radius: 10px; 
  border: 2px solid #000; 
  object-fit: cover; 
  width: 100%;
  height: 100%; 
  max-width: 100%; 
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.image-wrapper:hover .iphone-image {
  transform: scale(1.5); /* Adjust the scale factor as needed */
  z-index: 10; /* Ensure the magnified image is on top */
}

.stars-container {
z-index: -1; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1000; 
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0; 
  transform: scale(0); 
  transition: opacity 5s ease-out, transform 5s ease-out; 
}

.show-stars .star {
  opacity: 1; 
  transform: scale(1); 
}

.twinkle {
  animation: twinkle 1.5s infinite;
}

.shooting-star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 0.2; }
}

@keyframes shoot {
  0% { transform: translateX(0) translateY(0); }
  100% { transform: translateX(100vw) translateY(100vh); }
}

.a {
  color: #363f41;
}

/*CLOUDS*/

.clouds-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; 
  overflow: hidden; 
  z-index: 0; 
}

.clouds-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; 
  overflow: hidden; 
  z-index: 0; 
}

.cloud {
  position: absolute;
  width: 150px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  opacity: 0.3;
  animation: cloudMove 120s linear infinite; 
}

.cloud .circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
}

.cloud .circle1 {
  width: 70px;
  height: 70px;
  top: 15px;
  left: 0;
}

.cloud .circle2 {
  width: 70px;
  height: 70px;
  top: 0;
  left: 30px;
}

.cloud .circle3 {
  width: 70px;
  height: 70px;
  top: 15px;
  left: 60px;
}

.cloud .circle4 {
  width: 70px;
  height: 70px;
  top: 0px;
  left: 60px;
}

.cloud .circle5 {
  width: 70px;
  height: 70px;
  top: 10px;
  left: 100px;
}

@keyframes cloudMove {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(1200%);
  }
}


/* Positioning clouds */
.cloud:nth-child(1) { top: 10%; left: 10%; }
.cloud:nth-child(2) { top: 20%; left: 20%; }
.cloud:nth-child(3) { top: 30%; left: 30%; }
.cloud:nth-child(4) { top: 40%; left: 40%; }
.cloud:nth-child(5) { top: 50%; left: 10%; }
.cloud:nth-child(6) { top: 60%; left: 40%; }
.cloud:nth-child(7) { top: 70%; left: 70%; }
.cloud:nth-child(8) { top: 80%; left: 80%; }
.cloud:nth-child(9) { top: 90%; left: 40%; }
.cloud:nth-child(10) { top: 5%; left: 75%; }

@media (max-width: 768px) {
  .cloud {
    width: 100px;
    height: 70px;
  }

  .cloud .circle {
    width: 50px;
    height: 50px;
  }

  .cloud .circle1 {
    top: 10px;
    left: 0;
  }

  .cloud .circle2 {
    top: 0;
    left: 20px;
  }

  .cloud .circle3 {
    top: 10px;
    left: 40px;
  }
}

.links {
  color: rgb(110, 110, 110);
}

.inner-link {
  color: rgb(48, 48, 48);
}

.career-section {
  padding: 2rem;
  background-color: var(--section-bg); 
  color: var(--text-color); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 2rem 0;
  margin-bottom: 300px;
}

.career-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.career-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.testName {
  padding-top: 15px;
}

.companies-section {
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  background-color: var(--section-bg);
  padding-bottom: 300px;
}

.companies-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.company-card {
  position: relative;
  width: 300px;
  height: 450px; /* Initial height */
  overflow: hidden; /* Prevent overflow initially */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease, height 1s ease; /* Smooth transition for scaling */
}

.company-card:hover {
  z-index: 10;
  transform: scale(1.1); /* Scale up on hover */
  height: auto; /* Allow height to adjust based on content */
}

.card-back {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px; /* Add padding if needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-front {
  /* background-color: #fff; */
  padding: 20px;
  display: flex;
  gap: 30px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2; /* Ensure front card is above back card */
}

.card-front img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.card-back {
  top: 0;
  left: 0;
  opacity: 0; /* Hide back card initially */
  z-index: 1; /* Ensure back card is below front card */
}

.company-card:hover .card-front {
  opacity: 0; /* Hide the front face on hover */
}

.company-card:hover .card-back {
  opacity: 1; /* Show the back face on hover */
}

.company-logo,
.testimonial-content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

.company-logo {
  max-width: 80%;
  max-height: 80%;
}

.Companiestext {
  padding-bottom: 20px;
}

.testimonial-image {
  max-width: 70%;
  border-radius: 50%; /* Optional: For circular images */
}

.testimonial-title {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

.testimonial-text {
  font-size: small;
  text-align: center;
}

.intro-section {
  width: 70vw; 
  margin: 0 auto; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 300px;
}

.intro-content {
  display: flex;
  align-items: center;
  gap: 20px; 
  flex-wrap: wrap; 
}

.intro-photo {
  flex: 1;
  max-width: 300px; 
  width: 100%;
}

.intro-photo img {
  width: 100%;
  height: auto;
  border-radius: 50%; 
}


.light-mode .intro-photo img {
  border: 4px solid var(--light-accent);
}

.dark-mode .intro-photo img {
  border: 4px solid var(--dark-accent);
}

.intro-text {
  flex: 2;
}

.intro-text h2 {
  margin: 0;
  font-size: 2rem;
}

.intro-text p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    text-align: center;
  }

  .intro-text h2 {
    font-size: 1.5rem;
  }

  .intro-text p {
    font-size: 0.875rem;
  }
}

.main-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap: 20px; 
}

.word {
  color: #333; /* Default text color */
  font-size: 16px; /* Default font size */
  font-weight: bold; /* Make text bold */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.word:hover {
  color: #ff6347; /* Change color on hover */
  transform: scale(1.2); /* Enlarge text on hover */
}

.thanks-message {
  margin-bottom: 300px;
}

.light-mode .thanks-message {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--light-text); /* You can adjust the color based on light/dark mode */
  font-family: 'Courier New', Courier, monospace;
}

.dark-mode .thanks-message {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--dark-text); /* You can adjust the color based on light/dark mode */
  font-family: 'Courier New', Courier, monospace;

}

/* components/ScrollToTopButton.css */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color); /* Customize as needed */
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: var(--primary-hover-color); /* Customize as needed */
}

.scroll-to-top-icon {
  font-size: 24px;
  font-weight: bold;
}


/* App.css */

/* Container for icons */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

/* Feedback icon styling */
.feedback-icon {
  margin-left: 16px;
  font-size: 1.2rem; /* Adjust size as needed */
  color: var(--icon-color); /* Set your icon color */
  cursor: pointer;
  position: relative;
}

.feedback-icon::after {
  content: attr(title);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tooltip-bg); /* Set your tooltip background color */
  color: var(--tooltip-text); /* Set your tooltip text color */
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  font-size: 0.75rem; /* Adjust font size as needed */
}

.feedback-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

.feedback-form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .feedback-form-container {
  background-color: rgba(0, 0, 0, 0.431);
  color: var(--dark-text);
}

.light-mode .feedback-form-container {
  background-color: var(--light-accent);
  color: var(--dark-text);
}

.feedback-form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.feedback-form-sub {
  text-align: center;  
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form-label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.feedback-form-label.required {
  position: relative;
}

.feedback-form-label.required::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.light-mode .feedback-form-label.required::after {
  color: orange;
}

.dark-mode .feedback-form-label.required::after {
  color: rgba(255, 255, 255, 0.688);
}

.tooltipForm {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none;
  font-size: 12px;
  top: 100%;
  left: 0;
  white-space: nowrap;
}

.tooltipForm::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}


.feedback-form-label:hover .tooltipForm {
  display: block;
}

.feedback-form-input,
.feedback-form-textarea {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
}

.feedback-form-input:focus,
.feedback-form-textarea:focus {
  border-color: #007bff;
  outline: none;
}

.feedback-form-textarea {
  height: 150px;
  resize: vertical;
}

.dark-mode .feedback-form-textarea, .feedback-form-input {
  background-color: var(--light-bg);
}

.light-mode .feedback-form-textarea, .feedback-form-input {
  background-color: var(--light-bg);
}

.feedback-form-button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.light-mode .feedback-form-button {
  background-color: var(--dark-accent);
  color: var(--dark-text);
}

.dark-mode .feedback-form-button {
  background-color: var(--dark-accent);
  color: var(--dark-text);
}

.light-mode .feedback-form-button:hover {
  background-color: #475b60; /*TODO: change*/
}

.dark-mode .feedback-form-button:hover {
  background-color: var(--dark-green); /*TODO: change*/
}

.back-button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
}

.light-mode .back-button {
  background-color:  var(--light-start-bg); /* Light background */
  color: var(--dark-accent);
  border:none; 

}

.dark-mode .back-button {
  background-color: rgba(0, 0, 0, 0.431);
  border:none; 
  color: var(--light-start-bg)
}

.light-mode .back-button:hover {
  background-color: #ddd; /* Darker background on hover */
  border-color: #bbb; /* Darker border on hover */
}

.dark-mode .back-button:hover {
  background-color: #0000008a; /* Darker background on hover */
}

.back-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3); /* Focus outline */
}

/* Other existing styles */

/* Style for error messages */
.error-message {
  display: block;
  font-size: 12px; /* Adjust the font size as needed */
  margin-top: 5px; /* Adjust spacing as needed */
}

.light-mode .error-message {
  color: #000000; /* Change this to your desired color */
}

.dark-mode .error-message {
  color: red;
}

