
/* COLOR LIST 
#6C8DC6 light blue
#436EB9 dark blue
#364138 dark green
#576541 lighter green
#87A076 light green
#7D433D Dark brown/ red
#9C7B59 light brown
#8B6240 lighter brown
*/

.full-container {
  padding-top: 1px;
  padding-bottom: 1px;
  transition: background 0.5s ease; 
  background: var(--light-bg); 
}

:root {
  --light-bg: #cfd1d2; 
  --light-text: #2a3b58;
  --light-accent: #7697a0; 
  --dark-bg: #000000; 
  --dark-text: #f5f5f5;
  --dark-accent: #415f65; 

  --blue: #bee4ea; 
  --dark-green: #363f41; 

  --dark-start-bg: #363f41; 
  --dark-end-bg: #000000; 

  --light-start-bg: #ffffff; 
  --light-end-bg: #e0f7fa;
}


.light-mode {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.light-mode .header {
  background-color: var(--light-accent);
}

.light-mode .footer {
  /* background-color: var(--light-bg); */
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 50px;
  border-radius: 20px;
}

.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.dark-mode .header, .dark-mode  {
  background-color: var(--dark-accent);
}

.container {
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
}

.header {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  color: var(--header-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BrookesWorld {
  font-size: 100px;
}

.BrookeHeader {
  padding-top: 8px;
  padding-left: 10px;
}

.LeafIcon {
  color: aliceblue;
  background-color: #0000004f;
  border-radius: 80px;
  padding: 5px;
  margin-left: 10px; 
}

.FirstText {
  margin: 200px 50px 300px 50px;
  text-align: center;
}

.header button { 
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  background-color: var(--button-bg-light); 
  color: var(--button-text-light); 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  width: 60px; 
  height: 30px; 
}

.header button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--button-text-light); 
  transition: transform 0.3s, background-color 0.3s;
}

.header button.dark-mode {
  background-color: var(--button-bg-dark); 
  color: var(--button-text-dark); 
}

.header button.dark-mode:before {
  background-color: var(--button-text-dark); 
  transform: translateY(-50%) translateX(30px); 
}

.header button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header button .icon.sun {
  display: none;
}

.header button.dark-mode .icon.sun {
  display: flex;
}

.header button .icon.moon {
  display: flex;
}

.header button.dark-mode .icon.moon {
  display: none;
}

.header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text-color);
}

.header nav a:hover {
  text-decoration: underline;
}

.horizontal-container {
  display: flex;
  align-items: center; 
}
/* App.css */

.footer {
  padding: 20px;
  background-color: #f1f1f1; /* Adjust based on your theme */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main-content {
  flex: 1; /* Allows this section to take up available space */
}

.social-links {
  display: flex;
  gap: 10px; /* Add spacing between social links */
}

.contact-info, .copyright {
  margin-top: 10px;
}

.footer-websites {
  flex-shrink: 0; /* Prevents this section from shrinking */
  font-size: 14px;
}

.footer-websites ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-websites li {
  margin: 5px 0;
}

.footer-websites a {
  color: #007bff; /* Adjust based on your theme */
  text-decoration: none;
}

.footer-websites a:hover {
  text-decoration: underline;
}

.social-link {
  margin: 5px;
  color: inherit;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}

.quick-links {
  margin-bottom: 20px;
}

.quick-links a {
  color: var(--link-color); 
  text-decoration: none;
  margin: 0 10px;
}

.quick-links a:hover {
  text-decoration: underline;
}


.copyright {
  font-size: 14px;
  margin-top: 10px;
}

.gallery-container {
  width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.gallery {
  position: relative; 
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin-bottom: 300px;
  padding: 20px;
}

.gallery-item {
  width: 300px; /* Fixed width for each item */
  height: 400px; /* Fixed height for each item */
  position: relative;
  overflow: hidden; 
  flex: 1 1 calc(33% - 16px);
  box-sizing: border-box;
  max-width: 300px; 
  transition: transform 0.6s ease; 
}

.gallery-image-container {
  position: relative;
  width: 100%;
  height: 200px; 
  overflow: hidden; 
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 20px;
  transition: transform 0.6s ease, opacity 0.3s ease; 
}

.gallery-item:hover .gallery-image {
  transform: rotateY(180deg); 
  opacity: 0; 
}

.gallery-summary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  padding: 16px;
  box-sizing: border-box;
  border-radius: 20px;

}

.gallery-item:hover .gallery-summary {
  opacity: 1; 
}

.gallery-caption {
  text-align: center;
  margin-top: 8px;
  color: white; 
}

.carousel-item img {
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.carousel-container {
  width: 100%;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.carousel-item-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; 
}

.carousel-item-custom img {
  width: 50%;
  height: auto; 
  object-fit: contain; 
}

.titles { 
  z-index: 2;
  text-align: center;
  margin-top: 300px;
  padding: 30px;
}

.titles-app {
  margin-bottom: 50px;
  text-align: center;
}

.iphone-image {
  border-radius: 20px; 
  border: 2px solid #000; 
  object-fit: cover; 
  width: 100%;
  height: 100%; 
  max-width: 100%; 
}


.stars-container {
  z-index: -1; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  overflow: hidden;
  z-index: 1000; 
}


.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0; 
  transform: scale(0); 
  transition: opacity 1s ease-out, transform 1s ease-out; 
}


.show-stars .star {
  opacity: 1; 
  transform: scale(1); 
}


.clouds-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; 
  overflow: hidden; 
  z-index: 0; 
}

.cloud {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  opacity: 0.5;
  animation: cloudMove 60s linear infinite; 
}

.a {
  color: #363f41;
}


.cloud-1 { width: 150px; height: 100px; top: 10%; left: 5%; }
.cloud-2 { width: 180px; height: 120px; top: 20%; left: 25%; }
.cloud-3 { width: 200px; height: 130px; top: 40%; left: 35%; }
.cloud-4 { width: 170px; height: 110px; top: 60%; left: 50%; }
.cloud-5 { width: 220px; height: 140px; top: 25%; left: 70%; }
.cloud-6 { width: 160px; height: 100px; top: 50%; left: 80%; }
.cloud-7 { width: 200px; height: 120px; top: 70%; left: 10%; }
.cloud-8 { width: 180px; height: 130px; top: 30%; left: 40%; }
.cloud-9 { width: 190px; height: 110px; top: 55%; left: 60%; }
.cloud-10 { width: 210px; height: 140px; top: 80%; left: 30%; }

@keyframes cloudMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.vertical-scroll-bar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  background: rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.scroll-bar-section {
  width: 100%;
  height: 60px; 
  background: #ddd; 
  cursor: pointer;
  border-radius: 5px; 
  margin: 5px 0; 
  transition: background 0.3s ease;
}

.scroll-bar-section:hover {
  background: #bbb; 
}

.links {
  color: rgb(110, 110, 110);
}

.career-section {
  padding: 2rem;
  background-color: var(--section-bg); 
  color: var(--text-color); 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  margin-bottom: 300px;
}

.career-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.career-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.companies-section {
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  background-color: var(--section-bg);
  padding-bottom: 300px;
}

.companies-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.company {
  flex: 1 1 200px;
  max-width: 300px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-logo {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.testimonial {
  font-style: italic;
}
